<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ './assets/img/favicon.ico' }}">
    {# Bootstrap CSS  -#}
    <link rel="stylesheet" href="{{ './assets/css/bootstrap/bootstrap.min.css' }}" type="text/css">
    {# Custom CSS -#}
    <link rel="stylesheet" href="{{ './assets/css/style.css' }}" type="text/css">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    {# Animate CSS -#}
    <link rel="stylesheet" href="{{ './assets/css/animate.css/animate.min.css' }}" type="text/css">
    {# Font Awesome CDN -#}
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" /> -#}
    <link rel="stylesheet" href="{{ './assets/css/fontello.css' }}" />
</head>