# Local Site Directories
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build