<div>
  <div class="project card text-dark">
    {%- if project_img -%}
    <div class="img-gradient">

      <picture>
        {% assign widthWindow = "360,375,411,580,992,1200,4000" | split: ',' %}
        {% assign forWidthProject = "272,312,327,492,672,445,349" | split: ',' %}
        {% for width in forWidthProject %}
        <source srcset="{{ project_img }}_{{ width }}w.webp {{ width }}w"
          media="(max-width: {{ widthWindow[forloop.index0] }}px)">
        {% endfor %}
        <source srcset="{{ project_img }}_fallback.jpg" type="image/jpeg">
        <img id="{{ project_id }}-img" class="card-img-top"
          src="{{ project_img }}_fallback.jpg" alt="{{ project_name }}"
          aspectratio="20x13" loading="lazy" />
      </picture>

      <h4 class="project-modal-text"><a href="{{ project_demo_url }}"
          tabindex="-1"><button class="btn btn-primary my-btn-primary">&gt; Watch demo
            &lt;</button></a></h4>
    </div>
    {%- endif -%}



    <!-- TODO: добавить кнопку "подробнее" на карточку проекта
       - открывается модальное окно с каруселью фото,
    чтобы показать 3+ фото, как выглядит проект под разными устройствами -->

    <div class=" card-body pt-2">
      <h5 id="{{ project_id }}-name" class="card-title mt-2 text-center">
        {{ project_name }}
      </h5>

      <p id="{{ project_id }}-desc" class="card-text card-desc">{{ project_desc }}
        <a href="{{ project_source_url }}" class="my-btn text-dark d-inline-block">
          <cite title="Github repository"><span class="d-inline-block"><i
                class="icon-github"></i>Source</span></cite></a>
      </p>
      <p id="{{ project_id }}-tools" class="card-text card-tools">
        {%- for tool in project_tools -%}
        <span class="badge border">{{ tool }}</span>&thinsp;
        {%- endfor -%}
      </p>
    </div>
  </div>
</div>