<div>
  <div class="project card text-dark">
    {%- if project_img -%}
    <div class="img-gradient">
      <img id="{{ project_id }}-img" class="card-img-top" src="{{ project_img }}"
        alt="{{ project_name }}" />
    </div>
    {%- endif -%}




    <div class="card-body pt-2">
      <h5 id="{{ project_id }}-name" class="card-title mb-1 mt-1 text-center">
        {{ project_name }}
      </h5>

      <div class="links-project d-flex justify-content-center mb-3">

        <a href="{{ project_source_url }}" class="my-btn text-dark"><i
            class="icon-github"></i>&nbsp;Source</a>

        <a href="{{ project_demo_url }}" class="my-btn">&#9654;&nbsp;Demo</a>

      </div>

      <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
      <p id="{{ project_id }}-tools" class="card-text">
        {%- for tool in project_tools -%}
        <span class="badge text-primary border">{{ tool }}</span>&thinsp;
        {%- endfor -%}
      </p>
    </div>
  </div>
</div>