<section class="about" id="about">
  <h2 class="title pt-3 p-2 m-0">About me</h2>
  <div>
    <article class="bio mb-4 px-3 text-center">
      <!-- Hi, I am {{ site.author.name }} :wave:,<br><br> -->
      {{ site.about_me }}
    </article>

    <article class="skills mb-3">
      {% include about/skills.html title="Skills" source=site.data.programming-skills %}
      <!-- {% include about/skills.html title="Other Skills" source=site.data.other-skills %} -->
    </article>

    <article class="timeline mb-4">
      {% include about/timeline.html %}
    </article>
  </div>
</section>