
<!-- GitHub Buttons -->
<!-- <script async src="https://buttons.github.io/buttons.js"></script> -->

<!-- jQuery CDN -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    defer></script> -->

<!-- Popper.js CDN -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    defer></script> -->

<!-- Bootstrap JS CDN -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    defer></script> -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.10/bootstrap-native.min.js"
    integrity="sha512-1FzqmJh0cl4HJS4cLT5J0e3ZLTze6A3hpTH8Zgd4bMfsDjPpImaXjXzANwWAngTnF6FA+VA19G1MdXcMs8OugQ=="
    crossorigin="anonymous" defer></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js" defer></script>
<script> document.addEventListener("DOMContentLoaded", () => new WOW().init())</script>

<!-- Initialize all tooltips -->
<!-- <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script> -->