@font-face {
  src: url('../font/fontello.eot?70484030');
  src: url('../font/fontello.eot?70484030#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?70484030') format('woff2'),
    url('../font/fontello.woff?70484030') format('woff'),
    url('../font/fontello.ttf?70484030') format('truetype'),
    url('../font/fontello.svg?70484030#fontello') format('svg');
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    src: url('../font/fontello.svg?70484030#fontello') format('svg');
    font-family: 'fontello';
  }
}

[class^='icon-']:before,
[class*=' icon-']:before {
  speak: never;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
  width: 1em;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  color: #6c757d;
  font-family: 'fontello';
  font-style: normal;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  font-weight: normal;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* margin-right: .2em; */
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}
.icon1_5x {
  font-size: 150%;
}
.icon2x {
  font-size: 200%;
}

.icon-codewars:before {
  content: '\e801';
}
*:hover > .icon-codewars:before,
*:focus > .icon-codewars:before {
  color: #b1361e;
}
.icon-goodreads:before {
  content: '\e802';
}
*:hover > .icon-goodreads:before,
*:focus > .icon-goodreads:before {
  color: #ca8d0e;
}
.icon-twitter:before {
  content: '\f099';
}
*:hover > .icon-twitter:before,
*:focus > .icon-twitter:before {
  color: #1da1f2;
}
.icon-github:before {
  content: '\f09b';
}
*:hover > .icon-github:before,
*:focus > .icon-github:before {
  color: #333333;
}
.icon-email:before {
  content: '\f0e0';
}
*:hover > .icon-email:before,
*:focus > .icon-email:before {
  color: #0f9a2e;
}
.icon-linkedin:before {
  content: '\f0e1';
}
*:hover > .icon-linkedin:before,
*:focus > .icon-linkedin:before {
  color: #007bb5;
}
.icon-html5:before {
  content: '\f13b';
}
*:hover > .icon-html5:before,
*:focus > .icon-html5:before {
  color: #db4437;
}
.icon-stackoverflow:before {
  content: '\f16c';
}
*:hover > .icon-stackoverflow:before,
*:focus > .icon-stackoverflow:before {
  color: #f48024;
}
.icon-instagram:before {
  content: '\f16d';
}
*:hover > .icon-instagram:before,
*:focus > .icon-instagram:before {
  color: #405de6;
}
.icon-twitch:before {
  content: '\f1e8';
}
*:hover > .icon-twitch:before,
*:focus > .icon-twitch:before {
  color: #6441a5;
}
.icon-medium:before {
  content: '\f23a';
}
*:hover > .icon-medium:before,
*:focus > .icon-medium:before {
  color: #00ab6c;
}
.icon-free-code-camp:before {
  content: '\f2c5';
}
*:hover > .icon-free-code-camp:before,
*:focus > .icon-free-code-camp:before {
  color: #000000;
}
.icon-telegram:before {
  content: '\f2c6';
}
*:hover > .icon-telegram:before,
*:focus > .icon-telegram:before {
  color: #0088cc;
}
.icon-hexlet:before {
  content: '\ff00';
}
*:hover > .icon-hexlet:before,
*:focus > .icon-hexlet:before {
  color: #000000;
}
