---
---

#attribution {
    display: none !important;
}
.nav-my-link {
    padding: 0.2rem 0.7rem;
    display: block;
    font-size: 1.2rem;
    color: #0473ea;
}
#element {
    padding: 0 1rem;
}
@media screen and (min-width: 450px) and (max-width: 577px) {
    #container {
        flex: 0 0 80%;
        max-width: 80%;
    }
}
.signature {
    font-size: 0.7rem;
}
// 300 - 1
// 500 - 1
// 700 1-1
// 900 1-2
// 1200 1-3
.card-columns {
    @media (max-width: 991px) {
        column-count: 1;
    }
    @media (min-width: 992px) {
        column-count: 2;
    }
    @media (min-width: 1200px) {
        column-count: 3;
    }
}

.project.card:hover:not(.post) {
    transform: none !important;
    box-shadow: -2px 1px 20px -12px rgba(0, 0, 0, 0.24);
}
.project.card {
}

.my-btn {
    // line-height: 1;
    text-decoration: none !important;
    position: relative;
}

.my-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.my-btn.text-dark::before {
    height: 1px;
    left: 2px;
    bottom: 2px;
    background-color: #343a40;
}

.my-btn:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.my-btn.text-dark {
    font-weight: bold;
}
// gradient over image

.img-gradient img {
    display: block;
    object-position: top center;
    object-fit: cover;
    width: 100%;
}
.img-gradient {
    position: relative;
    display: inline-block;
    width: 100%;
}
.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

    background: linear-gradient(45deg, #007bff29 0%, #ffffff00 100%);
    // background: radial-gradient(circle, rgba(255,255,255,0) 35%, rgb(24, 154, 255, 0.28) 100%);
}
.img-gradient .project-modal-text a {
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff00;
    justify-content: center;
    // align-items: center;
}
.img-gradient .project-modal-text button {
    padding: 0em 2em;
    font-size: 1.2rem;
}

.img-gradient .project-modal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    // padding: 1em;
    background-color: #0000004f;
    opacity: 1;
    z-index: 1;
    transition: all 1s;
}

@media (pointer: fine) and (hover: hover) {
    .img-gradient .project-modal-text {
        opacity: 0;
    }
    .img-gradient:hover .project-modal-text {
        opacity: 1;
    }
}

img-gradient:hover {
}
.badge {
    font-weight: 400;
    border-color: #cdd6e0 !important;
    padding: 0.3em 0.45em 0.2em 0.45em;
    font-size: 0.85rem;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 1em;
}
#minesweeper-desc {
    font-size: 1em !important;
}
.links-project {
    column-gap: 2em;
}

.my-btn-primary {
    color: #ffffffd1;
    background-color: #007bffb8;
    border-color: #007bff29;
}
@import 'portfolYOU';
