body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
}
a:focus {
  outline: 2px solid #007bff;
  outline-offset: 1px;
}
.sub-title {
  font-size: 1.3rem;
}
.title {
  color: #007bff;
  font-size: 1.65rem;
  font-weight: bolder;
  text-align: center;
}
